/* ---------------------- */
/* CSS Matilde Navascuez */
/* --------------------- */
a#boton{
    /* padding-top: 10px; */
    /* padding-bottom: 10px ; */
    /* padding-left: 20px; */
    /* padding-right: 20px ; */

    padding: 10px 20px 10px 20px;

    background-color: violet;
    border-radius: 5PX;
    border: 1px solid blue;
     margin-bottom: 20px;
    display: inline-block;
    
}

div.cajaroja{
    width: 300px;
    height: 300px;
    background-color: red;
    border: 3px solid black; 
    /* propiedad nativa */
    display: block;
    /* propiedad dada */
    /* display: inline-block;  */
} 

.cajaroja__parrafolatin {
    /* esto es el parrafo lorem principal */
   
    font-size: 17px;
}

.cajaroja__texto__negrita{

/* esto es dentro del parrafo una linea */

    font-weight: 900;
    color: white; 
}

div.cajaazul{
    width: 300px;
    height: 300px;
    background-color: blue;
    border: 3px solid black; 
  
}

.menuPrincipal{
    float: right;
    border-bottom: 1px dashed black;
    padding-bottom: 10 px;

}

.menuPrincipal__item01,
.menuPrincipal__item02,
.menuPrincipal__item03,
.menuPrincipal__item04
{
  color: black;
  /* eliminar linea inferior de la <a> */
  text-decoration: none; 
  
}

.menuPrincipal__item01{
    color: red;
    font-weight: bolder;
}

/* crear un rolover en el menú con la psedoclase hover
*/

.menuPrincipal__item01:hover,
.menuPrincipal__item02:hover,
.menuPrincipal__item03:hover,
.menuPrincipal__item04:hover
{
  color: red;
   
}

/* para que cuando pases pichen en el botón la página no se lo recuerde le ponemos el mismo color que por defecto */
.menuPrincipal__item01:visited,
.menuPrincipal__item02:visited,
.menuPrincipal__item03:visited,
.menuPrincipal__item04:visited
{
  color:black;
 
  
}


/* cuando este en una parte del menú se activiran estas propiedades */
.menuPrincipal__item01--off,
.menuPrincipal__item02--off,
.menuPrincipal__item03--off,
.menuPrincipal__item03--off
{
    color: red;
    font-weight: bolder;
}

.menuPrincipal__item01,
.menuPrincipal__item02,
.menuPrincipal__item03,
.menuPrincipal__item04
{
  margin: 0px 5px;
  

}

