/* ---------------------- */
/* CSS Matilde Navascuez */
/* --------------------- */
.html{
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: green; 
}

.header {
    margin-bottom: 50px;
}
.bannerfondo {
   
    background-image: url('../../img/desktop/calapi.JPG') ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center; 
}  
   
.bannerfondo__texto{ 
    width: 75%;
    text-align: right;
    padding: 200px 0px;

   
   }

.bannerfondo__texto__titulo {
    font-size: 150px;
    font-family: 'Arial Black';
    color: white;
    text-transform: uppercase;
    margin: 0px;
}

.bannerfondo__texto__boton 
{ background-color: white;
    color: green;
    border: 1px;
    padding: 5px 60px;
    border-radius: 5px;
    text-decoration: none;
    }

/* ---BODY--- */

.articulos{
    /* margin-top: 50px; */
    position: relative;
    
}
.articulos__fondo
{
 width: 100%;
 
}

.articulos__parrafoarriba{
    position: absolute;
    width: 47%;
    height: 47.65%;
    left: 3%;
    top: 2%;
    background-color: white;
    margin-top: 0px;
    /* border: 1px rgb(230, 70, 230) solid; */
    color: rgb(13, 167, 167);
    padding: 15px;
    box-sizing: border-box;

}

.articulos__parrafoabajo{
    position:absolute;
    width: 47%;
    height: 47.65%;
    /* border: 1px rgb(230, 70, 230) solid; */
    background-color: white;
    color: rgb(13, 167, 167);
    right: 3%;
    bottom: 2%;
    border: 1px black solid;
    padding: 15px;
    box-sizing: border-box;
    
}
    


/* --codigo de montana.html--- */

.descripcionCalapi
{
    padding: 30px;
}
.descripcionCalapi__imagen{
    width: 45%;
    /* margin-right: 35px; */
    /* float: left; */
   
}

.descripcionCalapi__texto 
{
 /* margin-top: 0px;   */
 display: inline-block;
 width: 49%;
 vertical-align: top;
 margin: 0px 0px 50px 5%; 
  
}

.descripcionCalapi__parrafo
{
    /* clear: both;  */
      /* padding-top: 35px; */
    margin-top: 25px;
      

}


