/* ---------------------- */
/* CSS Matilde Navascuez */
/* --------------------- */
/* DIV que no es SEO */
.bannerfondo{
    width: 100%;
    height: 500px;
    background-color: red;
    background-image: url('../../img/desktop/marcMarquez.jpg') ;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
  
}

/* IMG que si es SEO.  */
.bannermarca{
    width: 25%;
}